# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
    - '*'
pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python37:
      python.version: '3.7'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python3 -m pip install --upgrade pip
    python3 -m pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python3 -m unittest discover -s test -p '*.py'
  displayName: 'Unit test'

- script: |
    ./scripts/build_lambda.sh
  displayName: 'Package build'
